/* variables */
:root {
  /* bg color */
  --header-bg-color: #ffffff;
  --hero-footer-bg-color: #2f303a;
  --qualities-work-bg-color: #e5e5e5;
  --team-bg-color: #f5f4fa;
  /* text color*/
  --primary-text-color: #757575;
  --secondary-text-color: #2196f3;
  --title-text-color: #212121;
  /* icon color */
  --icon-primary-color: #afb1b8;
  --icon-secondary-color: #2196f3;
  /* thumb color */
  --thumb-color: #2196f3;
  /* animation */
  --animation-duration: 250ms;
  --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* global classes */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.container {
  align-items: center;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  /* outline: 1px solid red; */
}
.link {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color var(--animation-duration) var(--cubic-bezier);
}
.link:hover,
.link:focus {
  color: var(--secondary-text-color);
}

.title {
  font-weight: 700;
  color: var(--title-text-color);
  letter-spacing: 0.03em;
}
.icon {
  fill: var(--icon-primary-color);
}

/* site header (logo, nav, contacts) */
.page-header {
  border-bottom: 1px solid #ececec;
}
.header-container {
  display: flex;
}
/* header logo */
.logo {
  margin-right: 97px;
  color: #212121;
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}
.logo > span {
  color: var(--secondary-text-color);
}
/* main-nav */
.main-nav {
  display: flex;
}

.main-nav > .item:not(:last-child) {
  margin-right: 50px;
}
/* header nav*/
.nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);
}
/* header contacts */
.hd-contacts {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.hd-contacts .item {
  color: var(--primary-text-color);
  display: inline-flex;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;

  transition: color var(--animation-duration) var(--cubic-bezier),
    fill var(--animation-duration) var(--cubic-bezier);
}
.hd-contacts .item:not(:last-child) {
  margin-right: 30px;
}
.hd-contacts .icon {
  margin-right: 10px;
  fill: var(--primary-text-color);

  transition: fill var(--animation-duration) var(--cubic-bezier);
}
.hd-contacts .item:hover,
.hd-contacts .item:focus,
.hd-contacts .item:hover .icon,
.hd-contacts .item:focus .icon {
  color: var(--secondary-text-color);
  fill: var(--icon-secondary-color);
}

/* hero */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;

  text-align: center;

  max-width: 1600px;
  background-color: var(--hero-footer-bg-color);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/hero-bg-opt.jpg');
  background-position: center;
}
.hero-title {
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}
.hero-btn {
  padding: 10px 32px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: var(--header-bg-color);
  background-color: var(--secondary-text-color);

  border-radius: 4px;
  cursor: pointer;
}
/* qualities section */
.ql-list {
  display: flex;
}
.ql-list > .item {
  width: 270px;
  /* outline: 1px solid black; */
}
.ql-list > .item:not(:last-child) {
  margin-right: 30px;
}

.quality-subtitle {
  margin-bottom: 10px;

  font-size: 14px;
  line-height: 1.14;
}
.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
}
.icon-container > .icon {
  fill: var(--title-text-color);
}
/* work section and team section*/
.work-section {
  padding-top: 0;
}
.team-section {
  background-color: #f5f4fa;
}
.work-list {
  display: flex;
}
.work-list > .item:not(:last-child) {
  margin-right: 30px;
}
.work-title,
.team-title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.team-list {
  display: flex;
}
.team-list > .item {
  text-align: center;

  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-list > .item:not(:last-child) {
  margin-right: 30px;
}

.team-text {
  padding: 30px 15px;
}
.team-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: var(--title-text-color);
}
.team-roles {
  margin-top: 10px;

  font-size: 16px;
  line-height: 1.18;
}
.social-networks {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}
.social-networks .item:not(:last-child) {
  margin-right: 10px;
}
.social-networks .icon {
  width: 20px;
  height: 20px;

  margin-left: auto;
  margin-right: auto;

  transition: fill var(--animation-duration) var(--cubic-bezier),
    background-color var(--animation-duration) var(--cubic-bezier);
}
.social-networks > .item {
  width: 44px;
  height: 44px;
}

.social-networks .link {
  display: inline-flex;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;

  transition: fill var(--animation-duration) var(--cubic-bezier),
    background-color var(--animation-duration) var(--cubic-bezier);
}
.social-networks .link:hover,
.social-networks .link:focus,
.social-networks .link:hover .icon,
.social-networks .link:focus .icon {
  background-color: var(--secondary-text-color);
  fill: var(--team-bg-color);
}
/* client section */
.client-list {
  display: flex;
  justify-content: space-between;
}
.client-link:hover,
.client-link:focus {
  border: 1px solid var(--secondary-text-color);
  border-radius: 4px;
}
.client-icon {
  fill: var(--icon-primary-color);
  transition: fill var(--animation-duration) var(--cubic-bezier);
}
.client-link:hover .client-icon,
.client-link:focus .client-icon {
  fill: var(--secondary-text-color);
}
.client-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition: border var(--animation-duration) var(--cubic-bezier);
}
/* footer */
.ft-container {
  background-color: var(--hero-footer-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.ft-logo {
  display: inline-block;
  color: #ffffff;
  margin-bottom: 20px;
}
.ft-list > .item:not(:last-child) {
  margin-bottom: 9px;
}
.map-coords {
  color: #ffffff;
  font-style: normal;
}
.ft-contacts {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-weight: 400;
}
.ft-items {
  display: flex;
  align-items: baseline;
}

.ft-item:not(:last-child) {
  margin-right: 70px;
}
.ft-social-list {
  display: flex;
  margin-top: 20px;
}
.ft-social-list > .item {
  width: 44px;
  height: 44px;
}
.ft-social-list > .item:not(:last-child) {
  margin-right: 10px;
}
.ft-social-list .link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  transition: background-color var(--animation-duration) var(--cubic-bezier);
}
.ft-social-list .link:hover,
.ft-social-list .link:focus {
  background-color: var(--icon-secondary-color);
}
.ft-social-list .icon {
  fill: #ffffff;
}
/* .ft-item {
  display: flex;
} */
.ft-text {
  color: #ffffff;
  font-weight: 700;
}
.socials {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* backdrop */
.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;

  background-color: rgba(134, 34, 235, 0.5);
  top: 0;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  min-height: 600px;

  background-color: #ffffff;
  border-radius: 5px;
}
.btn-close {
  width: 40px;
  height: 40px;
  border: 2px solid red;
  background-color: unset;
  border-radius: 50%;
  position: absolute;
  right: 5px;
  top: 5px;
}
/* ///////////////////////////////////////// */
/* PORTFOLIO */
.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.filter-list > .item:not(:last-child) {
  margin-right: 8px;
}
.filter-btn {
  padding: 6px 22px;

  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: #212121;

  cursor: pointer;
  border-color: transparent;
  border-radius: 3px;

  transition: color var(--animation-duration) var(--cubic-bezier),
    background-color var(--animation-duration) var(--cubic-bezier),
    box-shadow var(--animation-duration) var(--cubic-bezier);
}
.filter-btn:hover,
.filter-btn:focus {
  color: #ffffff;
  background-color: var(--secondary-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
/* cards */
.cards-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}
.card-item {
  /* outline: 1px solid green; */
  margin-right: 30px;
  margin-bottom: 30px;
  flex-basis: calc(100% / 3 - 30px);
}
.card-item :nth-child(3n) {
  margin-right: 0;
}
.card-item :nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.card-item:hover {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  transition: box-shadow var(--animation-duration) var(--cubic-bezier);
}
.card-thumb {
  position: relative;
  overflow: hidden;
}
.card-thumb > .text {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 322px;
  height: 168px;
  font-size: 18px;
  transform: translate(-50%, 100%);
  transition: transform var(--animation-duration) var(--cubic-bezier);
  color: #ffffff;
}
.card-thumb::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--thumb-color);
  transform: translateY(100%);
  transition: transform var(--animation-duration) var(--cubic-bezier);
  opacity: 0.9;
}
.card-item:hover .card-thumb > .text {
  transform: translate(-50%, -50%);
}
.card-item:hover .card-thumb::before {
  transform: translateY(0);
}
.img-description {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}
.card-subtitle {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.card-description {
  margin-top: 4px;

  font-size: 16px;
  line-height: 1.87;
}
