/* header contacts */
.hd-contacts {
  display: flex;
  margin-left: auto;
  justify-content: center;
  flex-direction: column;

  @media screen and (min-width: 1200px){
    flex-direction: row;
  }
}

.hd-contacts__link {
  @extend %link;
  color: $primary-text-color;
  display: inline-flex;
  align-items: center;
  

  transition: color $animation-duration $cubic-bezier, fill $animation-duration $cubic-bezier;
 
  &:hover,
  &:focus {
    color: $secondary-text-color;
  }
  @media screen and (max-width: 1199px){
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  @media screen and (min-width: 1200px){
    padding-top: 25px;
    padding-bottom: 25px;

    &:not(:last-child){
      margin-right: 30px;
    }
  }

}

.hd-contacts__icon {
  margin-right: 10px;
  fill: var(--primary-text-color);

  transition: fill $animation-duration $cubic-bezier;

  .hd-contacts__link:hover &,
  .hd-contacts__link:focus & {
    fill: $icon-secondary-color;
  }
}
