.logo {
  padding-top: 16px;
  padding-bottom: 16px;
  margin-right: 88px;

  color: #212121;
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  &__span {
    color: $secondary-text-color;
  }

  @media screen and(min-width: 1200px){
    margin-right: 93px;
  }
}
