/* backdrop */
.backdrop {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity $animation-duration $cubic-bezier,
    visibility $animation-duration $cubic-bezier;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
