.modal-form {
  display: flex;
  flex-direction: column;
}
.modal-form__text {
  font-size: 20px;
  font-weight: 700;
  color: $title-text-color;
}
.modal-form__wrapper {
  position: relative;
  margin-bottom: 10px;
}
.modal-form__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);

  fill: rgb(0, 0, 0);
  transition: fill $animation-duration $cubic-bezier;
}
.modal-form__label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  color: $modal-text-color;
}
.modal-form__input {
  width: 100%;
  padding: 11px 30px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border $animation-duration $cubic-bezier;
}
.modal-form__input:focus ~ .modal-form__icon {
  fill: $icon-secondary-color;
}
.modal-form__input:focus {
  outline: none;
  border: 1px solid #2196f3;
}
.modal-form__comment {
  margin-bottom: 20px;
  padding: 12px 16px;
  min-height: 120px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  resize: none;
  outline: none;
}
.modal-form__comment::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}
.modal-form__btn {
  width: 200px;
  padding: 10px 56px;
  margin-left: auto;
  margin-right: auto;

  text-align: center;
  font-size: 16px;
  font-weight: 700;

  color: #ffffff;
  background-color: $button-color;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}
