.footer {
  background-color: $hero-footer-bg-color;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer__container {
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
  }
}
@media screen and (min-width: 768px) {
  .ft-address-socials-container {
    display: flex;
    align-items: baseline;
    justify-content: center;
  }
  .footer-tablet {
    margin-right: 165px;

    @media screen and (min-width: 1200px) {
      margin-right: 70px;
    }
  }
  .ft-form-tablet {
    width: 450px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 1200px) {
      width: 570px;
      margin-left: auto;
      margin-right: 0;
    }
  }
}
.footer__item {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 60px;
  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
  }
}

.footer__logo {
  display: inline-block;
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
.footer__span {
  color: $secondary-text-color;
}
