/* footer */
.footer {
  background-color: $hero-footer-bg-color;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer__container {
  display: flex;
  align-items: baseline;
}
.footer__item:not(:last-child) {
  margin-right: 70px;
}
.footer__logo {
  display: inline-block;
  color: #ffffff;
  margin-bottom: 20px;
}
.footer__span {
  color: $secondary-text-color;
}
