/* footer form */
.footer-form {
  width: 100%;
}
.footer-form__text {
  margin-bottom: 20px;
  text-align: center;

  font-weight: 700;
  color: #ffffff;
}
.footer-form__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  @media screen and (min-width: 1200px) {
    flex-direction: row;
    align-items: baseline;
  }
}
.footer-form__input {
  width: 100%;
  margin-bottom: 20px;
  padding: 16px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;

  background-color: $hero-footer-bg-color;
  color: #ffffff;
  outline: none;

  &::placeholder {
    color: rgba(255, 255, 255, 0.6);
  }

  @media screen and (min-width: 1200px) {
    margin-right: 12px;
    margin-bottom: 0;
  }
}

.footer-form__button {
  @extend %button;
  display: flex;
  justify-content: center;
  align-items: center;
  //   margin-right: 10px;
  padding: 10px 29px;

  //   background-color: $button-color;
  color: #ffffff;

  border-radius: 4px;
}

.footer-form__icon {
  margin-left: 10px;
  fill: #ffffff;
}
