.filter {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 50px;
  }
  .filter__item{

    padding-bottom: 15px;

    &:not(:last-child) {
    margin-right: 8px;
    }
  }
  .filter__btn {
    padding: 6px 22px;
  
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    color: #212121;
  
    cursor: pointer;
    border-color: transparent;
    border-radius: 3px;
  
    transition: color $animation-duration $cubic-bezier,
      background-color $animation-duration $cubic-bezier, box-shadow $animation-duration $cubic-bezier;
  
    &:hover,
    &:focus {
      color: #ffffff;
      background-color: $secondary-text-color;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
      border-radius: 0px 0px 4px 4px;
    }
  }
  