// bg color
$header-bg-color: #ffffff;
$hero-footer-bg-color: #2f303a;
$qualities-work-bg-color: #e5e5e5;
$team-bg-color: #f5f4fa;
//text color
$primary-text-color: #757575;
$secondary-text-color: #2196f3;
$title-text-color: #212121;
// icon color
$icon-primary-color: #afb1b8;
$icon-secondary-color: #2196f3;
// thumb color
$thumb-color: #2196f3;
$thumb-color-alternate: #2f303a;
// animation
$animation-duration: 250ms;
$cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
// nav links
$link-underline: #2196f3;
/* button */
$button-color: #2196f3;
// modal window
$modal-text-color: #757575;
//mobile menu link separator
$link-separator: #212121;
