.qualities {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.qualities__item {
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 768px) {
    display: inline-block;
    margin: 15px;
    flex-basis: calc((100% - 4 * 15px) / 2);
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 8 * 15px) / 4);
  }
}
.qualities__container {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 30px;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #f5f4fa;
}

.qualities__icon {
  fill: $title-text-color;
}

.qualities__subtitle {
  text-align: center;
  margin-bottom: 10px;

  @media screen and (min-width: 768px) {
    text-align: left;
  }
}

.qualities__text {
  margin-bottom: 30px;
}
