/* global classes */
.section {
  padding-top: 60px;
  padding-bottom: 60px;
  // padding-top: 94px;
  // padding-bottom: 94px;
}
.container {
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

.icon {
  fill: $icon-primary-color;
}
