/* footer address */
.ft-address__item:not(:last-child) {
  margin-bottom: 9px;
}
.ft-address__map {
  @extend %link;
  color: #ffffff;
  font-style: normal;
}
.ft-address__link {
  @extend %link;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-weight: 400;
}
