/* hero */
.hero {
    padding-top: 200px;
    padding-bottom: 200px;
    margin-left: auto;
    margin-right: auto;
  
    text-align: center;
  
    max-width: 1600px;
    background-color: $hero-footer-bg-color;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/hero-bg-opt.jpg');
    background-position: center;
  }
  .hero__title {
    margin-bottom: 30px;
  
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    color: #ffffff;
  }
  .hero__btn {
    padding: 10px 32px;
  
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    color: $header-bg-color;
    background-color: $secondary-text-color;
  
    border-radius: 4px;
    cursor: pointer;
  }